body {
    margin: 2vh 5vw;
    font-family: Muli;
}

ul {
    margin:0;
    padding:0;
}

li {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top:3vh;
    align-items: center;
    max-width:1200px;
    margin: 0 auto;
}

.header__nav {
    display:flex;
}

.header__acc {
    display:flex;
    align-items:center;
    position: relative;
    margin-right: 50px;
}

.header__link {
    position: relative;
    margin-right: 20px;
    transition: color 0.5s ease;
}

.header__link:hover {
    color:#F8A01C;
    cursor: pointer;
}

.header__link:after {
    content: "";
    position: absolute;
    border-top: 1px solid #F8A01C;
    width: 0%;
    bottom:0;
    left:0;
    transition: width 0.5s ease;
}

.header__link:hover:after {
    width: 60%;
}

.header__link--action {
    border: 1px solid #F8A01C;
    padding: 5px 10px;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.header__link--action:hover {
    cursor: pointer;
    background-color:#F8A01C;
    color:white;
}

.header__search {
    position: absolute;
    right: -50px;
}

.header__search input[type=text] {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: #F8A01C;
    background-image: url("../assets/search_icon.svg");
    background-position: center; 
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    color:white;
}

.header__search input[type=text]:focus {
    width: 150px;
    background-position: 10px center; 
    padding-left:30px;
}


.intro {
    display: flex;
    justify-content: center;
    margin:20vh auto 0 auto;
    max-width: 1200px;
}

.intro__info {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.intro__info * {
    margin:2vh 0;
}

.intro__info h2 {
    font-weight: bold;
    color: #6C6C6C;
    font-size: 1em;
}

.intro__info h1 {
    font-family: "Quicksand";
    font-size: 3em;
}

.intro__info p {
    width: 80%;
}

.intro__link--action {
    width:fit-content;
    border: 1px solid #F8A01C;
    padding: 5px 10px;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.intro__link--action:hover {
    cursor: pointer;
    background-color:#F8A01C;
    color:white;
}

.intro__image {
    width:30vw;
}