:root {
    --color-bg: rgba(196, 196, 196, 0.08);
    --color-white: #fff;
    --color-purple: #E350CB;
    --color-form-border: #CBCEDA;
    --color-box-shadow: rgba(0, 0, 0, 0.25);
    --color-text-bold: #6C6C6C;
    --color-blue:#5385F7;
    --color-orange:#F8A01C;
    --yellow: #F8E71C;
    --green:#72BE65;
    --intro-info-width: 30vw;
    --intro-image-width: 30vw;
    --width-body: 90vw;
    --width-content: 60vw;
    --spacing-h2: 3vh;
}

/* Antialiasing */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 2vh 0;
    background-color: var(--color-bg);
    font-family: 'Muli', sans-serif;
    position:relative;
}

h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin: 0;
}

/* H2 Block */
h2 {
    font-size: 46px;
}

.h2--white {
    color: white;
}

/* P Block */
p {
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

ul {
    margin:0;
    padding:0;
}

li {
    list-style: none;
}

/* Button */
.button {
    border: 1px solid var(--color-orange);
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
}

.button:hover {
    background-color:var(--color-orange);
    color: var(--color-white);
}

.button--orange {
    background-color: var(--color-orange);
    color: var(--color-white);
}

/* Input */
.input {
    height: 100%;
    background-color: transparent;
    font-size: inherit;
    line-height: inherit;
    border: none;
    color: var(--color-white);
}

.input::placeholder {
    color: var(--color-white);
}

.input:focus {
    outline: none;
}

/* Logo */
.logo {
    width: 170px;
    height: 30px
}

/* Tag */
.tag {
    color: var(--color-purple);
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    margin:3vh 5vw 0 5vw;
    align-items: center;
    width: var(--width-body);
    align-self: center;
}

.header__nav {
    display:flex;
}

.header__acc {
    display:flex;
    align-items:center;
    position: relative;
    margin-right: 50px;
}

.header__link {
    position: relative;
    margin-right: 20px;
    transition: color 0.5s ease;
}

.header__link:hover {
    color:var(--color-orange);
    cursor: pointer;
}

.header__link:after {
    content: "";
    position: absolute;
    border-top: 1px solid var(--color-orange);
    width: 0%;
    bottom:0;
    left:0;
    transition: width 0.5s ease;
}

.header__link:hover:after {
    width: 60%;
}

.header__link--action {
    border: 1px solid var(--color-orange);
    padding: 5px 10px;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.header__link--action:hover {
    cursor: pointer;
    background-color:var(--color-orange);
    color:white;
}

.header__search {
    position: absolute;
    right: -50px;
}

.header__search input[type=text] {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: var(--color-orange);
    background-image: url("../assets/search_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    color:white;
}

.header__search input[type=text]:focus {
    width: 150px;
    background-position: 10px center;
    padding-left:30px;
}


.intro {
    display: flex;
    justify-content: center;
    margin:20vh auto 0 auto;
    width: var(--width-body);
}

.intro__info {
    display: flex;
    flex-direction: column;
    width: var(--intro-info-width);
    position: relative;
}

.intro__info * {
    margin:2vh 0;
}

.intro__info--saving * {
    margin:0;
}

.intro__info span {
    font-weight: bold;
    color: #6C6C6C;
    font-size: 1em;
}

.intro__info h1 {
    font-family: "Quicksand";
    font-size: 3em;
}

.intro__info p {
    width: 80%;
}

.intro__info .button {
    align-self: baseline;
}


.intro__image {
    width:var(--intro-image-width);
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:var(--spacing-h2);
    align-items: center;
    margin: 0 auto;
    width: var(--width-body);
    position:relative;
}

.text {
    color:white;
    font-family: DM Sans;
    font-size: 5em;
    position:relative;
}

.title {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title__highlight {
    font-weight: bold;
    color:var(--color-purple);
}

.title__header {
    font-family: Quicksand;
    font-size:2em;
    max-width: 220px;
    text-align: center;
    margin-bottom: var(--spacing-h2);
}

.feature__items {
    display:flex;
    justify-content: space-between;
    margin-top: 3vh;
    width:var(--width-content);
}

.feature__item {
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:23.5%;
    transition: box-shadow 0.5s ease;
}

.feature__item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feature__shape {
    background: black;
    width: 40%;
    padding-bottom: 40%;
    border-radius: 9999px;
    transform: translateY(-30%);
}

.feature__head {
    color: #6C6C6C;
    font-weight:bold;
}

.feature__content {
    width:80%;
    text-align: center;
    margin:20px 0;
}

.feature__shape--blue {
    background: var(--color-blue);
    box-shadow: 0px 0px 20px 1px var(--color-blue);
}

.feature__shape--green {
    background: var(--green);
    box-shadow: 0px 0px 20px 1px var(--green);
}
.feature__shape--yellow {
    background: var(--yellow);
    box-shadow: 0px 0px 20px 1px var(--yellow);
}
.feature__shape--orange {
    background: var(--color-orange);
    box-shadow: 0px 0px 20px 1px var(--color-orange);
}

.text--container {
    position:relative;
    height: 5em;
}

.text--saving {
    position:absolute;
    right:0;
}

.features--saving {
    flex-direction: row;
}

.title__header--saving {
    max-width:400px;
    text-align: left;
}

.title--saving {
    align-items: flex-start;
}

.intro__info--saving {
    transform: translateX(20%);
}

.intro__info--saving .button {
    margin-top:var(--spacing-h2);
}

.intro__image--container {
    background: rgba(248, 160, 28, 0.22);
    border-radius: 9999px;
    padding-bottom: 53px;
    position: relative;
}



.features__pricing {
    margin: 65px auto 130px auto;
    padding-top: 65px;
    background: white;
}

.title__header--pricing {
    max-width: 300px;
}

.feature__items--pricing {
    flex-wrap: wrap;
    transform: translateX(10%);
}

.feature__item--pricing {
    width: 45%;
    flex-direction: row;
    position:relative;
}

.feature__item--pricing:hover {
    box-shadow:none;
}



.feature__container {
    display:flex;
    flex-direction:column;
}

.feature__content--pricing {
    text-align: left;
}

.feature__shape--pricing {
    position: absolute;
    transform:translate(-120%, 0);
    width: 30%;
    padding-bottom:30%;
    max-width: 80px;
}

.button--more {
    background: var(--color-orange);
    color:white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size:1em;
    transform:translateY(30px);
}







.ball__container {
    position: absolute;
}

.ball__container--info {
    height: 60%;
    width:20vw;
    left: -19vw;
}

.ball__container--features {
    height: 100%;
    width:20vw;
    right:0;
    top:0;
}

.ball__container--pricing--left {
    height: 25%;
    width:100px;
    left:0;
    bottom:-50px;
}

.ball {
    position:absolute;
    transition: transform 20s linear;
    border-radius: 9999px;
    z-index:-999;
    margin: 0;
    top:0;
    left:0;
}

.ball--static {
    position:absolute;
    transition: transform 20s linear;
    border-radius: 9999px;
    z-index:-999;
    margin: 0;
    top:0;
    left:0;
}

.ball__orange {
    width: 100%;
    padding-bottom:100%;
    background-color: var(--color-orange);
    left: -10vw;
    top: 10vh;
}

.ball__purple {
    width: 30%;
    padding-bottom:30%;
    background-color: var(--color-purple);
    left: 10vw;
}


.ball__yellow {
    width: 50%;
    padding-bottom:50%;
    background-color: var(--yellow);
    transition: transform 5s linear;
}

.ball__yellow--pricing {
    z-index:999;
    left: -50px;
    width: 100%;
    padding-bottom: 100%;
}

.ball__green {
    width: 25%;
    padding-bottom:25%;
    background-color: var(--green);
    left: -30px;
}

/* Newsletter */
.newsletter {
    width: var(--width-body);
    margin: 130px auto;
    background-color: var(--color-blue);
    padding: 60px 0;
}

.newsletter__content {
    width: var(--width-content);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter__content h2 {
    margin-bottom: var(--spacing-h2);
    text-align: center;
}

.newsletter__content form {
    border: 2px solid var(--color-form-border);
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.newsletter__content form .input {
    flex-grow: 1;
}

/* Blog Showcase */
.blog-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width-body);
    margin: 130px auto;
}

.blog-showcase__header {
    margin-bottom: var(--spacing-h2);
}

.blog-showcase__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    width: var(--width-content);
}

.blog-showcase__container {
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px var(--color-box-shadow);
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.blog-showcase__container img {
    width: 100%;
    height: 180px;
}

.blog-showcase__container__content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.blog-showcase__container__content:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-purple);
    width: 3px;
    height: 40%;
    transition: height 0.5s;
}

.blog-showcase__container:hover .blog-showcase__container__content:before {
    height: 100%;
}

.blog-showcase__container__content p {
    font-weight: 700;
    color: var(--color-text-bold);
    line-height: 23px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    padding: 60px 0;
    margin: 130px auto;
    width: var(--width-body);
}

.footer__content {
    margin: 30px 0;
    max-width: 530px;
}

.footer__social a {
    margin-right: 20px;
}

.footer__social a:last-child {
    margin-right: 0;
}
